/* Color Palette
 * white:       #ffffff
 * light grey:  #ececec
 * black:       #000000
*/

html {
    font-family: sans-serif;
    width: 99%;
    height: 100%;
    background-color: #ececec;
}

body {
    width: 100%;
    height: 100%;
}

input {
    background-color: #ffffff;
}

.clickable:hover,
.clickable:focus {
    cursor: pointer;
}

#mainContainer {
    text-align: center;
    color: #000000;
    width: 100%;
    height: 100%;
}

#bannerContainer {
    height: 54px;
}

#bannerText {
    display: inline;
}

#room {
    display: inline;
    float: right;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#chatContainer {
    height: 80%;
    width: calc(100% - 20px * 2); /* 20px*2: top and bottom padding */
    padding: 20px;
    border: solid;
    border-width: thin;
    border-color: #000000;
    text-align: left;
    background-color: #ffffff;
}

#messageContainer {
    height: calc(100% - 54px - 25px - 20px * 2); /* 54px: banner, 25px: messageInput, 20px*2: top & bottom padding */
    width: calc(100% - 20px * 2); /* 20px*2: top and bottom padding */
    padding: 20px;
    overflow-y: auto;
    overflow-x: auto;
}

#connectBtn {
    margin: 20px;
    width: 95px;
    height: 30px;
}

#sendBtn {
    width: 66px;
    height: 30px;
}

#messageInput {
    width: calc(100% - 66px - 20px); /* 66px: sendBtn, 20px: messageContainer's right padding*/
    height: 25px;
    background-color: #ececec;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modalContent {
    display: inline-block;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #888;
}

.modalClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.modalClose:hover,
.modalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#nicknameModal {
    text-align: center;
}

#nickname {
    color: #057aff;
    text-decoration: underline;
    float: right;
    margin-right: 5px;
}

#nickname:hover,
#nickname:focus {
    color: #0062d3;
    cursor: pointer;
}

#usersOnline {
    float: left;
}

#filterContainer {
    float: right;
}

.material-icons {
    font-size: 11pt;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    font-family: sans-serif;
    visibility: hidden;
    width: 380px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0px;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-left: -200px;
    margin-bottom: 10px;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }